<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Promana" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Promana">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-blue-600 text-white p-4 fixed top-0 left-0 right-0 z-50">
      <div class="container mx-auto flex items-center space-x-4">
        <%= link_to root_path, class: "text-white flex items-center hover:text-blue-200" do %>
          <img src="/icon.svg" alt="Home" width="24" height="24" class="w-6 h-6" />
        <% end %>
        <%= link_to "Properties", properties_path, class: "hover:text-blue-200" %>
        <%= link_to "Tenants", tenants_path, class: "hover:text-blue-200" %>
        <%= link_to "Utility Types", utility_types_path, class: "hover:text-blue-200" %>
      </div>
    </nav>
    <main class="container mx-auto mt-20 px-5">
      <%= yield %>
    </main>
  </body>
</html>
